/* Raster Roster CSS */

body {
    font-family: "Oxygen", sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}

/*Header*/
header {
    background-color: #eaeaea;
    padding: 1rem 10px;
}

header span {
    color: #576773;
    font-size: 1.6rem;
    font-weight: 700;
}


/* Navigation */
nav {
    background-color: #f0c043;
}

nav ul {
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
}

nav a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #576773;
    font-weight: 700;
    display: block;
    padding: .8rem 2rem;
}

nav li.active a {
    background-color: #576773;
    color: #f0c043;
}

nav li a:hover {
    color: #ffffff;
}

/*Main*/
main {
    padding: 1rem 10px;
}

main h1 {
    color: #f09047;
}

main h2 {
    color: #576773;
    margin-bottom: .2rem;
}

main p {
    margin: 0;
    color: #534a33;
    margin-bottom: 10px;
}

main ol {
    padding: .5rem 30px;
    background-color: #efefef;
}

main ol li {
    font-weight: 700;
}

main dl dt {
    color: #f09047;
    font-weight: 700;
    margin-top: 1rem;
}

main dl dd {
    color: #576773;
    font-size: .9rem;
    margin-left: 20px;
}

main ul {
    list-style-type: circle;
}

main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}

main strong {
    font-weight: 700;
    color: #47382d;
}

main em {
    font-weight: 300;
}

main address {
    font-style: normal;
    background-color: #f0c043;
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid #576773;
    width: 200px;
}

main a {
    color: #576773;
}

main a:hover {
    color: rgb(180, 4, 18);
}

figure.wrapped {
    margin: 0 0 0 10px;
    width: 30%;
    float: right;
}

figure.wrapped img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

figure.wrapped figcaption {
    text-align: center;
}

div.tutorial_container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: #efefef;
}

div.tutorial_container figure {
    margin: 0;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
}

div.tutorial_container a figure img {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

div.tutorial_container figcaption {
    text-align: center;
    font-size: .8rem;
    width: auto;
    height: auto;
}

/*Footer*/
footer {
    background-color: #eaeaea;
    text-align: center;
    padding: 1rem 0;
    clear: both;
}

footer p {
    margin: 0;
    font-size: .8rem;
    color: #534a33;
    letter-spacing: 3px;
}
